<nz-content>
  <p>list-item works! {{componentName}}</p>

  <div class="custom-content" *ngIf="authorList?.length > 0 else noData">
    <nz-card class="custom-card" *ngFor="let author of authorList" [nzBordered]="false" nzTitle='{{author?.name}}'
             [nzExtra]="extraTemplate">
      <p style="text-align: justify;
  text-justify: inter-word;">{{author?.bio}}</p>

      <p class="custom-link">For more details click <a href="{{author?.link}}">here</a></p>

      <ng-template #extraTemplate>
        <a (click)="addFavoriteAuthor(author)" *ngIf="!author.isFavorite ">Add favorite</a>
        <a (click)="deleteFavoriteAuthor(author._id)" *ngIf="author.isFavorite">Remove</a>
      </ng-template>
    </nz-card>

  </div>


  <ng-template #noData>
    <div *ngIf="isDataLoading" class="example">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>
    <nz-empty nzNotFoundImage="simple" nzNotFoundContent="No Author is found">
    </nz-empty>
  </ng-template>


</nz-content>
