<nz-content>
  <div class="custom-content" *ngIf="authorList?.length > 0 else noData">
    <nz-card class="custom-card" *ngFor="let author of authorList" [nzBordered]="false" nzTitle='{{author?.name}}'
             [nzExtra]="extraTemplate">
      <p style="text-align: justify;
  text-justify: inter-word;">{{author?.bio}}</p>

      <p class="custom-link">For more details click <a href="{{author?.link}}" target='_blank'>here</a></p>

      <ng-template #extraTemplate>
        <a (click)="addFavoriteAuthor(author)" *ngIf="!author.isFavorite ">Add favorite</a>
        <a (click)="deleteFavoriteAuthor(author)" *ngIf="author.isFavorite">Remove</a>
      </ng-template>
    </nz-card>

  </div>


  <ng-template #noData>
    <div *ngIf="isDataLoading" class="example">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    </div>

    <nz-empty *ngIf="componentName ===  projectConstant.ASSIGNMENT.AUTHOR" nzNotFoundImage="simple"
              nzNotFoundContent="Loading..."></nz-empty>
    <nz-empty *ngIf="componentName ==  projectConstant.ASSIGNMENT.FAV_AUTHOR" nzNotFoundImage="simple"
              nzNotFoundContent="No Favorite Author found">
    </nz-empty>
  </ng-template>

  <div *ngIf="componentName === projectConstant.ASSIGNMENT.AUTHOR" class="pagination">
    <i class="pointer" (click)="previousPage()" nz-icon nzType="left" nzTheme="outline"></i>
    &nbsp;&nbsp;
    page :  {{pageNo}}
    &nbsp;&nbsp;
    <i class="pointer" (click)="nextPage()" nz-icon nzType="right" nzTheme="outline"></i>
  </div>
</nz-content>
